.form-div{
    margin-bottom: 20px;
}
form input {
    padding: 13px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
}
form input:focus{
    outline: none;
}

form button{
    border-radius: 50%;
    font-size: 20px;
    margin-left: 5px;
    padding: 13px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
}
form button:hover{
    background-color: black;
    color: white;
}